body { 
font-family: Arial, sans-serif; 
background-color: #fdfff8; 
color: #152bd6; 
line-height: 1.6; 
} 
h1 { 
color: #05072b; /* Um azul Django */ 
} 
ul { 
background-color: #a0a29f; 
border: 1px solid #0c2bdb; 
padding: 15px; 
} 
li { 
list-style-type: square; 
}